In [1]:
import pandas as pd
import numpy as np

In [46]:
# Read the data from file
df = pd.read_csv("adult.data.csv") 
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
# Find the total number of each race
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [21]:
# Find the average age of men and women
average_age_men = df[df["sex"] == "Male"]["age"]
average_age_men = round(np.mean(average_age_men),1)

average_age_women = df[df["sex"] == "Female"]["age"]
average_age_women = round(np.mean(average_age_women),1)

print(average_age_men, average_age_women, sep="\n")

39.4
36.9

In [41]:
# Find the number of married and non-married
# Find the total number of those in relationship and those that are not 
marital_status = df['marital-status'].value_counts()
relationship = df['relationship'].value_counts()

print(marital_status, relationship, sep="\n")

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

In [20]:
# What is the percentage of people who have a Bachelor's degree?
barchelors = len(df[df["education"] == "Bachelors"])
total_education = len(df["education"])
percentage_barchelors = round(100*(barchelors/total_education),1) 
print(percentage_barchelors)

16.4

In [22]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`

advanced_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
normal_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [25]:
non_percentage_advanced = len(advanced_education[advanced_education.salary == ">50K"])
advanced_education_rich = round(100*(non_percentage_advanced) / len(advanced_education), 1) 
non_percentage_normal = len(normal_education[normal_education.salary == ">50K"])
normal_education_rich = round(100*(non_percentage_normal) / len(normal_education), 1)

print(advanced_education_rich,normal_education_rich,  sep="\n")

46.5
17.4

In [31]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

In [32]:
# What is the maximum number of hours a person works per week (hours-per-week feature)?
max_work_hours = df["hours-per-week"].max()
print(max_work_hours)

99

In [37]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df["hours-per-week"] == min_work_hours]
rich_percentage = round(len(num_min_workers[num_min_workers.salary == ">50K"]) / len(num_min_workers)*100, 1)
print(rich_percentage)

10.0

In [40]:
# What percentage of the people who work the maximum number of hours per week have a salary of >50K?
num_max_workers = df[df["hours-per-week"] == max_work_hours]
poor_percentage = round(len(num_max_workers[num_max_workers.salary == ">50K"]) / len(num_max_workers)*100, 1)
print(poor_percentage)

29.4

In [55]:
# What country has the highest percentage of people that earn >50K?
new_df  = df.loc[df["salary"] == ">50K"]["native-country"].value_counts()
new_df2 = df["native-country"].value_counts()
richest = (new_df/new_df2).max()
highest_earning_country = (new_df/new_df2).sort_values(ascending = False).index[0] 
highest_earning_country_percentage = round(100*richest, 1)
print(highest_earning_country, highest_earning_country_percentage, sep="\n")

Iran
41.9

In [60]:
# What country has the highest percentage of people that earn <50K
new_df3  = df.loc[df["salary"] == "<50K"]["native-country"].value_counts()
new_df4 = df["native-country"].value_counts()
richest = (new_df3/new_df4).min()
normal_earning_country = (new_df/new_df2).sort_values(ascending = True).index[0] 
normal_earning_country_percentage = round(100*richest, 1)
print(normal_earning_country, normal_earning_country_percentage, sep="\n")

United-States
nan

In [48]:
# Identify the most popular occupation for those who earn >50K in Germany.
germany = df.loc[(df["salary"] == ">50K") & (df["native-country"] == "Germany")]["occupation"] 
top_IN_occupation = pd.Series.mode(germany)[0]
print(top_IN_occupation)

Prof-specialty